<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inventory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Our Current Inventory:</h1><br><br>
        {% if Inventory_list %}
            <ul>
                {% for item in inventory_list %}
                <li>
                    {{ item.itemName}} - {{ item.itemLocation}} - Qty. {{ item.itemQuantity }}
                </li>
             {% endfor %}
            </ul>
        {% else %}
            <p>There are no items in the inventory.</p>
        {% endif %}
    </body>
</html>